[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/rafalcieslak/glslang
	branch = libsga
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/rafalcieslak/glfw
	branch = libsga
[submodule "external/vkhlf"]
	path = external/vkhlf
	url = https://github.com/rafalcieslak/vkhlf
	branch = libsga
